#root {
  max-width: 1280px;
  margin: 0 auto;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes swing {
  0%, 100% { transform: rotateX(0deg) rotate(-45deg); }
  50% { transform: rotateX(20deg) rotate(-45deg); }
}
.hover-swing:hover {
  animation: swing 0.7s ease-in-out forwards;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
